body{
  font-family: sans-serif;
}

nav{

}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #2e2e2a;
  line-height: 40px;
}
li{
  width: 100px;
  display: inline-block;
  text-align: center;
}

a{
  text-decoration: none;
  color: #fff;
  display: block;
}

a:hover{
  background-color: #f9a91a;
  color: #000;
}
